/*------------------Seitenübergreifendes CSS------------------------------*/
* {
  box-sizing: border-box;
}
body {

  margin: 0; /* Browser CSS reset */
  padding: 0; /* Browser CSS reset */
  display: grid; /* Einleiten des CSS Grid */
  width: 100%;
  min-height: 100%;
  height: 100vh;/* Höhe 100% des Viewports */
  grid-template-rows: auto auto auto auto; /* Gridunterteilung in 4 Zeilen */
  grid-template-columns: 20% auto;   /* Gridunterteilung in 2 Spalten */
  /* Belegung der Gridzellen mit Seitenbereichen*/
  /* Generelles Grid */
  grid-template-areas:  "header header"
                        "nav nav"
                        "aside main"
                        "footer footer";
}

/* Verknüpfen der Seitenteile mit der gridanordung s: Zeile 12 */
header {grid-area: header;}
nav {grid-area: nav;}
aside {grid-area: aside;}
main {grid-area: main;}
footer {grid-area: footer;}

nav ul{
  display: flex;
  flex-direction: row;
}

nav a{
  padding: 0.9em 1em;
  display: block;
}

div.grid-cell {
  padding: 1em 1em;
}

/*------------------Seitenübergreifendes CSS-Ende-------------------------*/
/*------------------Indeexcontent CSS-------------------------------------*/
#index-layout {
  display: grid;
  /*Unterteilung in 2 Spalten X 2 Zellen jeweils eine Fraction*/
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;

}

#videos-layout {
  display: grid;
  /*Unterteilung in 2 Spalten X 4 Zellen jeweils eine Fraction*/
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:  "svg gif"
                        "svg gif"
                        "video video";
  padding: 5%;
}

#form-layout {
  display: grid;
  /*Unterteilung in 2X2 Zellen jeweils eine Fraction*/
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;

  padding: 5%;
}

.svg {
    grid-area: svg;
    text-align: center;
}

.gif {
    text-align: center;
    grid-area: gif;
}

.video {
    text-align: center;
    grid-area: video;
}
