/* Deklaration der Farbpalette */
:root {
  --dark: #490D47;
  --harsh: #B332AF;
  --primary: #8850EA;
  --secondary: #7D91F7;

}
* {
	font-family: Arial, Helvetica, sans-serif;
}
nav, footer {
  background-color: var(--dark);
}
nav ul {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: white;
}
h4, h5, h6{
  color: var(--primary);
}
p {
  text-align: justify;
  text-justify: auto;
  line-height: 1.5em;
  padding: 20%;
}
.list-nondeco {
  list-style: none;
  padding: 0;
}

/*--------------Intupts--------------------------*/
input[type=text], button[type=submit]{
  border-radius: 0;
  height: 2em;
  font-size: 1.6em;
}


input[type=text] {
  width:100%;
  border-radius: 0;
  border: 1px solid var(--primary);
  height: 2em;
  font-size: 1.6em;
  padding-left: 2%;
  margin: 3% 0;
}

input[type=text]:hover, input[type=text]:focus {
  border: 2px solid var(--harsh);
}

button[type=submit] {
  width: 100%;
  background-color: var(--primary);
  border: 1px solid black;
  color: white;
}

button[type=submit]:hover {
  background-color: var(--dark);
  border: 2px solid var(--harsh);
}

button[type=submit]:focus {

}


/*--------------Intupts--ende--------------------*/
